h2 {
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

button {
  background-color: blue; 
  color: white;
  border: none;
  border-radius: 5px; 
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 15px;
  margin-bottom: 15px; 
}


button:hover {
  background-color: blueviolet; 
}

tr {
  margin-top: auto;
}


form {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background-color: lightskyblue;
  max-width: 500px;
  display: inline-block;
  justify-content: center;
}

/* Stile per i campi di input */
input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc; /* Bordo grigio */
  border-radius: 4px; /* Bordo rotondato */
  font-size: 16px;
}

/* Messaggi di errore */
div[nglf]{
  color: red;
  font-size: 15px;
}

label {
  text-transform: uppercase;
  font-weight: bold;
}

/* Stile per la tabella */
table {
  width: 100%;
  border-collapse: collapse; /* Per rimuovere gli spazi tra le celle */
}

/* Intestazioni di tabella */
th {
  background-color: #f2f2f2; /* Colore dello sfondo delle intestazioni */
  padding: 10px; /* Padding per le celle delle intestazioni */
  text-align: left; /* Allineamento del testo */
}

/* Righe della tabella */
td {
  border: 1px solid #ddd; /* Bordo grigio per le celle */
  padding: 10px; 
}


tr:hover {
  background-color: #f1f1f1; 
}
